<!-- views/reviews-new.handlebars -->

<form method="POST" action="/reviews">
  <form method="POST" action="/reviews">
  {{> reviews-form}}
  <p>
    <button type="submit">Save Review</button>
  </p>

</form>